<!DOCTYPE html>
<html lang="en" data-th-fragment="header"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <title>Avaliação Clínica</title>
    <!-- Favicon-->
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.googleapis.com/css(family='Roboto:400,700',subset='latin,cyrillic-ext')}"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap Core Css -->
    <link th:href="@{/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet"/>

    <!-- Waves Effect Css -->
    <link th:href="@{/plugins/node-waves/waves.css}" rel="stylesheet"/>

    <!-- Animation Css -->
    <link th:href="@{/plugins/animate-css/animate.css}" rel="stylesheet"/>

    <!-- JQuery DataTable Css -->
    <link th:href="@{/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css}" rel="stylesheet" />

    <!-- Bootstrap Material Datetime Picker Css -->
    <link th:href="@{/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}"
          rel="stylesheet"/>

    <!-- Wait Me Css -->
    <link th:href="@{/plugins/waitme/waitMe.css}" rel="stylesheet"/>

    <!-- Morris Chart Css-->
    <link th:href="@{/plugins/morrisjs/morris.css}" rel="stylesheet"/>

    <!-- Custom Css -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <!-- Bootstrap Select Css -->
    <link th:href="@{/plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet"/>

    <!--sweet alert-->
    <link th:href="@{/plugins/sweetalert/sweetalert.css}" rel="stylesheet"/>

    <!--multi select-->
    <link th:href="@{/plugins/multi-select/css/multi-select.css}" rel="stylesheet" />

    <!-- Gustavo Css -->
    <link th:href="@{/css/my.css}" rel="stylesheet"/>

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link th:href="@{/css/themes/all-themes.css}" rel="stylesheet"/>
</head>

<body class="theme-indigo">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input type="text" placeholder="START TYPING..."/>
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>
<!-- #END# Search Bar -->
<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" th:href="@{/home}">AVALIAÇÃO CLÍNICA</a>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img th:src="@{/images/user.png}" width="48" height="48" alt="User"/>
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span sec:authentication="name">Bob</span>
                </div>
                <div class="email"><span sec:authentication="principal.usuarioVO.nome" /></div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a id="perfil" th:href="@{/usuarios/profile}"><i class="material-icons">person</i>Perfil</a></li>
                        <li role="seperator" class="divider"></li>
                        <li><a th:href="@{/logout}"><i class="material-icons">input</i>Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">MENU</li>
                <li th:classappend="${#httpServletRequest.requestURI == '/avaliacao-web/home' or #httpServletRequest.requestURI == '/avaliacao-web/'} ? active : null">
                    <a th:href="@{/home}">
                        <i class="material-icons">home</i>
                        <span>Pagina Inicial</span>
                    </a>
                </li>
                <li th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/avaliacao-web/questionarios')} ? active : null">
                    <a th:href="@{/questionarios}">
                        <i class="material-icons">question_answer</i>
                        <span>Questionários</span>
                    </a>
                </li>
                <li th:classappend="${#httpServletRequest.requestURI == '/avaliacao-web/avaliacoes'} ? active : null">
                    <a th:href="@{/avaliacoes}">
                        <i class="material-icons">assignment</i>
                        <span>Avaliações</span>
                    </a>
                </li>
                <li th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'relatorios')} ? active : null">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">pie_chart</i>
                        <span>Relatórios</span>
                    </a>
                    <ul class="ml-menu">
                        <li th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'graficosQuestionario')} ? active : null">
                            <a th:href="@{/relatorios/graficosQuestionario}">Análise Questionários</a>
                        </li>
                        <li th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'exportacao')} ? active : null">
                            <a th:href="@{/relatorios/exportacao}">Exportação</a>
                        </li>
                    </ul>
                </li>

                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <li th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/avaliacao-web/usuarios')} ? active : null">
                        <a th:href="@{/usuarios}">
                            <i class="material-icons">account_box</i>
                            <span>Usuários</span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        <!-- #Menu -->

        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                2017 <a href="javascript:void(0);">Avaliação Clínica - Gustavo Mascarin</a>.
            </div>
            <div class="version">
                <b>IFSP </b> São Carlos-SP
            </div>
        </div>
        <!-- #Footer -->

    </aside>

</section>

<section class="content">
    <!--messages-->
    <div class="alert alert-danger alert-dismissible" th:if="${errorMessages}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <strong>ERRO!</strong>
        <table>
            <tr th:each="error : ${errorMessages}">
                <td th:text="${error}">1</td>
            </tr>
        </table>
    </div>
    <div class="alert alert-danger alert-dismissible" th:if="${errorMessage}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <strong>ERRO! </strong><span th:text="${errorMessage}"/>
    </div>
    <div class="alert alert-success alert-dismissible" th:if="${successMessage}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <strong>SUCESSO! </strong><span th:text="${successMessage}"/>
    </div>
    <!--messages-->

    <div class="container-fluid">
        <div layout:fragment="content"></div>
    </div>
</section>

<!-- Jquery Core Js -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core Js -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>

<!-- Select Plugin Js -->
<script th:src="@{/plugins/bootstrap-select/js/bootstrap-select.js}"></script>

<!-- Slimscroll Plugin Js -->
<script th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

<!-- Jquery Validation Plugin Css -->
<script th:src="@{/plugins/jquery-validation/jquery.validate.js}"></script>

<!-- Waves Effect Plugin Js -->
<script th:src="@{/plugins/node-waves/waves.js}"></script>

<!-- Autosize Plugin Js -->
<script th:src="@{/plugins/autosize/autosize.js}"></script>

<!-- Moment Plugin Js -->
<script th:src="@{/plugins/momentjs/moment.js}"></script>

<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script th:src="@{/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>

<!-- Jquery CountTo Plugin Js -->
<script th:src="@{/plugins/jquery-countto/jquery.countTo.js}"></script>

<!-- Morris Plugin Js -->
<script th:src="@{/plugins/raphael/raphael.min.js}"></script>
<script th:src="@{/plugins/morrisjs/morris.js}"></script>

<!-- ChartJs -->
<script th:src="@{/plugins/chartjs/Chart.bundle.js}"></script>

<!-- Flot Charts Plugin Js -->
<script th:src="@{/plugins/flot-charts/jquery.flot.js}"></script>
<script th:src="@{/plugins/flot-charts/jquery.flot.resize.js}"></script>
<script th:src="@{/plugins/flot-charts/jquery.flot.pie.js}"></script>
<script th:src="@{/plugins/flot-charts/jquery.flot.categories.js}"></script>
<script th:src="@{/plugins/flot-charts/jquery.flot.time.js}"></script>

<!-- Sparkline Chart Plugin Js -->
<script th:src="@{/plugins/jquery-sparkline/jquery.sparkline.js}"></script>

<!-- Custom Js -->
<script th:src="@{/js/admin.js}"></script>
<script th:src="@{/js/pages/index.js}"></script>

<!-- Demo Js -->
<script th:src="@{/js/demo.js}"></script>

<!-- Multi Select Plugin Js -->
<script th:src="@{/plugins/multi-select/js/jquery.multi-select.js}"></script>

<!--questionario JS-->
<script th:src="@{/js/questionario.js}"></script>
<script th:src="@{/js/graficos.js}"></script>
<script th:src="@{/js/pergunta.js}"></script>
<script th:src="@{/js/controleAcessoQuestionario.js}"></script>

<script th:src="@{/plugins/sweetalert/sweetalert.min.js}"></script>

<!-- Jquery DataTable Plugin Js -->
<script th:src="@{/plugins/jquery-datatable/jquery.dataTables.js}"></script>
<script th:src="@{/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>
<script th:src="@{/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/jquery-datatable/extensions/export/buttons.flash.min.js}"></script>
<script th:src="@{/plugins/jquery-datatable/extensions/export/jszip.min.js}"></script>
<script th:src="@{/plugins/jquery-datatable/extensions/export/pdfmake.min.js}"></script>
<script th:src="@{/plugins/jquery-datatable/extensions/export/vfs_fonts.js}"></script>
<script th:src="@{/plugins/jquery-datatable/extensions/export/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/jquery-datatable/extensions/export/buttons.print.min.js}"></script>

</body>
</html>