<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<body>

<th:block layout:fragment="content">
    <div class="block-header">
        <h2>AVALIAÇÕES</h2>
    </div>

    <!-- AVALIAÇÕES -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        AVALIAÇÕES
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover datatable-responsive dataTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Avaliado</th>
                                    <th>Questionário</th>
                                    <th>AÇÃO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="avaliacao : ${listaAvaliacao}">
                                    <td th:text="${avaliacao.idAvaliacao}">1</td>
                                    <td th:text="${avaliacao.nomeAvaliado}">1</td>
                                    <td th:text="${avaliacao.nomeQuestionario}">1</td>
                                    <td>
                                        <a th:href="@{/avaliacoes/{id}(id=${avaliacao.idAvaliacao})}" data-method="DELETE" data-origin="questionarios" data-confirm="Tem certeza que deseja excluir?">
                                            <i class="material-icons" title="Excluir">delete</i>
                                        </a>
                                        <a th:href="@{/relatorios/exportar(questionarioId=${avaliacao.idQuestionario}, avaliadoId=${avaliacao.idAvaliado})}" data-method="GET" data-origin="questionarios" >
                                            <i class="material-icons" title="Exportar">get_app</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# AVALIAÇÕES -->

</th:block>
</body>

</html>