<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<body>

<th:block layout:fragment="content">
    <div class="block-header">
        <h2>QUESTIONÁRIOS</h2>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        CONTROLE DE ACESSO
                    </h2>
                </div>
                <div class="body">
                    <form th:action="@{/questionarios/controleAcesso}" method="post">
                        <input type="hidden" name="questionarioId" th:value="${controleAcesso.questionarioId}" />
                        <select multiple="multiple" id="select-autorizados" class="ms" name="usuariosAutorizados">
                            <option th:each="usuario : ${controleAcesso.usuariosNaoAutorizados}" th:value="${usuario.id}" th:text="${usuario.nome}">My option</option>
                            <option th:each="usuario : ${controleAcesso.usuariosAutorizados}" th:value="${usuario.id}" th:text="${usuario.nome}" selected="selected">My option</option>
                        </select>
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</th:block>
</body>

</html>