<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<body>

<th:block layout:fragment="content">
    <div class="block-header">
        <h2>ANÁLISE QUESTIONÁRIOS</h2>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Análise Questionário</h2>
                </div>
                <div class="body">
                    <form id="form-grafico" th:action="@{/relatorios/graficosQuestionario}" method="get">
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line focused success">
                                        <label for="select-questionario-grafico">Questionário</label>
                                        <select class="form-control show-tick" id="select-questionario-grafico"
                                                name="questionarioId" required="required">
                                            <option value="">-- Selecione --</option>
                                            <option th:each="optQuestionario : ${todosQuestionarios}"
                                                    th:value="${optQuestionario.id}"
                                                    th:text="${optQuestionario.titulo}"/>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line focused success">
                                        <label for="select-pergunta">Pergunta</label>
                                        <select class="form-control show-tick" id="select-pergunta" name="perguntaId">
                                            <option value="0">-- Selecione --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" id="btn-buscar-graficos" class="btn btn-primary m-t-15 waves-effect"
                               value="Buscar" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix" th:each="grafico : ${graficosInfo}" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header" th:if="${grafico.pergunta != null}">
                    <h2 th:text="${grafico.pergunta}"></h2>
                </div>
                <div class="body" th:if="${grafico.pergunta != null}">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="grafico_donut_pergunta" th:attr="data-info=${grafico.itemJson}"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="grafico_bar_pergunta" th:attr="data-info=${grafico.itemJson}"></div>
                        </div>
                    </div>
                </div>

                <div class="body" th:if="${grafico.pergunta == null}">
                    <label>A pergunta ainda não foi avaliada.</label>
                </div>
            </div>
        </div>
    </div>

</th:block>

</body>

</html>