﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<body>

<th:block layout:fragment="content">
    <div class="block-header">
        <h2>DASHBOARD</h2>
    </div>

    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">question_answer</i>
                </div>
                <div class="content">
                    <div class="text">QUESTIONARIOS</div>
                    <div class="number count-to" data-from="0" th:attr="data-to=${homeVO.countQuestionarios}"
                         data-speed="15" data-fresh-interval="20">
                        <th th:text="${homeVO.countQuestionarios}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="content">
                    <div class="text">AVALIAÇÕES</div>
                    <div class="number count-to" data-from="0" th:attr="data-to=${homeVO.countAvaliacoes}"
                         data-speed="1000" data-fresh-interval="20">257
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-light-green hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">account_box</i>
                </div>
                <div class="content">
                    <div class="text">USUÁRIOS</div>
                    <div class="number count-to" data-from="0" th:attr="data-to=${homeVO.countUsuarios}"
                         data-speed="1000" data-fresh-interval="20">243
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">help</i>
                </div>
                <div class="content">
                    <div class="text">PERGUNTAS</div>
                    <div class="number count-to" data-from="0" th:attr="data-to=${homeVO.countPerguntas}"
                         data-speed="1000" data-fresh-interval="20">1225
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Questionarios -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        ÚLTIMOS QUESTIONÁRIOS
                    </h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>TÍTULO</th>
                            <th>AVALIAÇÕES</th>
                            <th>AÇÃO</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="questionario : ${homeVO.listaQuestionario}">
                            <td th:text="${questionario.id}">1</td>
                            <td th:text="${questionario.titulo}">1</td>
                            <td th:text="${questionario.countAvaliacoes}">1</td>
                            <td>
                                <a th:href="@{/questionarios/perguntas(questionarioId=${questionario.id})}">
                                    <i class="material-icons" title="Editar">edit</i>
                                </a>
                                <a th:href="@{/questionarios/{id}(id=${questionario.id})}" data-method="DELETE" data-origin="home" data-confirm="Tem certeza que deseja excluir?">
                                    <i class="material-icons" title="Excluir">delete</i>
                                </a>
                                <a th:href="@{/questionarios/controleAcesso(questionarioId=${questionario.id})}">
                                    <i class="material-icons" title="Controle de Acesso">security</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Questionarios -->

    <!-- AVALIAÇÕES -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        ÚLTIMAS AVALIAÇÕES
                    </h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Avaliado</th>
                            <th>Questionário</th>
                            <th>AÇÃO</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="avaliacao : ${homeVO.listaAvaliacao}">
                            <td th:text="${avaliacao.idAvaliacao}">1</td>
                            <td th:text="${avaliacao.nomeAvaliado}">1</td>
                            <td th:text="${avaliacao.nomeQuestionario}">1</td>
                            <td>
                                <a th:href="@{/avaliacoes/{id}(id=${avaliacao.idAvaliacao})}" data-method="DELETE" data-origin="home" data-confirm="Tem certeza que deseja excluir?">
                                    <i class="material-icons" title="Excluir">delete</i>
                                </a>
                                <a th:href="@{/relatorios/exportar(questionarioId=${avaliacao.idQuestionario}, avaliadoId=${avaliacao.idAvaliado})}" data-method="GET" data-origin="questionarios" >
                                    <i class="material-icons" title="Exportar">get_app</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# AVALIAÇÕES -->

    <form th:method="DELETE">
    </form>

</th:block>
</body>

</html>