<!DOCTYPE html>
<html lang="en" data-th-fragment="header"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <title>Entrar | Avaliação Clínica</title>
    <!-- Favicon-->
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.googleapis.com/css(family='Roboto:400,700',subset='latin,cyrillic-ext')}"
          rel="stylesheet" type="text/css"/>
    <link  th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap Core Css -->
    <link th:href="@{/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet"/>

    <!-- Waves Effect Css -->
    <link th:href="@{/plugins/node-waves/waves.css}" rel="stylesheet"/>

    <!-- Animation Css -->
    <link th:href="@{/plugins/animate-css/animate.css}" rel="stylesheet"/>

    <!-- Custom Css -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body class="login-page">
<div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);">Avaliação Clínica</a>
    </div>
    <div class="card">
        <div class="body">
            <form id="sign_in" th:action="@{/login}" method="POST">
                <div class="msg">Entrar</div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="username" placeholder="Usuário" required="required" autofocus="autofocus" />
                    </div>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="password" placeholder="Senha" required="required" />
                    </div>
                </div>
                <div class="row">
                    <!--<div class="col-xs-8 p-t-5">-->
                        <!--<input type="checkbox" id="remember-me" name="remember-me" class="filled-in chk-col-pink" />-->
                        <!--<label for="remember-me">Lembrar me</label>-->
                    <!--</div>-->
                    <div class="col-xs-4">
                        <button class="btn btn-block bg-pink waves-effect" type="submit">Entrar</button>
                    </div>
                </div>
            </form>
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-6">
                        <a th:href="@{/usuarios/form}">Cadastrar</a>
                    </div>
                </div>

        </div>
    </div>
</div>

<!-- Jquery Core Js -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core Js -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>

<!-- Waves Effect Plugin Js -->
<script th:src="@{/plugins/node-waves/waves.js}"></script>

<!-- Jquery Validation Plugin Css -->
<script th:src="@{/plugins/jquery-validation/jquery.validate.js}"></script>

<!-- Custom Js -->
<script th:src="@{/js/admin.js}"></script>


</body>

</html>