<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<body>

<th:block layout:fragment="content">
    <div class="block-header">
        <h2>NOVO QUESTIONÁRIOS</h2>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        QUESTIONÁRIO
                    </h2>
                </div>
                <div class="body">
                    <form id="formularioQuestionario">
                        <input id="id" type="hidden" th:value="${vo.id}" />
                        <label for="titulo">Título</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="titulo" class="form-control" name="titulo"
                                       placeholder="Título do questionário" th:value="${vo.titulo}" th:disabled="!${vo.titulo == null}" required="required"/>
                            </div>
                        </div>
                        <button type="button" id="btn-nova-pergunta" class="btn btn-primary m-t-15 waves-effect"
                                data-color="blue" data-toggle="modal" data-target="#largeModal">Nova Pergunta
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Tabela perguntas -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        PERGUNTAS
                    </h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>POSIÇÃO</th>
                            <th>TEXTO</th>
                            <th>TIPO</th>
                            <th>AÇÃO</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pergunta : ${vo.perguntas}">
                            <td th:text="${pergunta.posicao}">1</td>
                            <td th:text="${pergunta.texto}">1</td>
                            <td th:text="${pergunta.tipo.descricao}">1</td>
                            <td>
                                <a th:href="@{/perguntas/{id}(id=${pergunta.id})}" data-method="DELETE" data-origin="perguntas" data-confirm="Tem certeza que deseja excluir?">
                                    <i class="material-icons" title="Excluir">delete</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- #END# tabela perguntas -->
    </div>

    <div class="row clearfix">
        <!--Modal Nova Pergunta-->
        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" style="display: none;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="largeModalLabel">Nova Pergunta
                            <small class="small-titulo"></small>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="form-nova-pergunta" th:action="@{/questionarios}" method="post">
                            <input type="hidden" id="tituloQuestionario" name="tituloQuestionario" value="" required="required"/>
                            <input type="hidden" id="idQuestionario" name="idQuestionario" value="" />
                            <label for="titulo">Tipo</label>
                            <div class="form-group">
                                <div id="sem-margem-md-4" class="col-md-4">
                                    <select id="tipo" name="tipo" class="form-control show-tick" required="required">
                                        <option value="">Selecione</option>
                                        <option value="EXPRESSAO">Expressão</option>
                                        <option value="MULTIPLA_ESCOLHA">Múltipla escolha</option>
                                        <option value="TEXTO">Simples</option>
                                    </select>
                                </div>
                            </div>

                            <br/>
                            <label for="titulo">Pergunta</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="texto" name="texto" class="form-control"
                                           placeholder="Digite sua pergunta" required="required"/>
                                </div>
                            </div>

                            <div class="div-expressao">
                                <label for="expressao">Expressão</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="expressao" name="expressao" class="form-control"
                                               placeholder="Digite a expressão" required="required"/>
                                    </div>
                                </div>
                            </div>

                            <div class="div-multipla-escolha">
                                <br/>
                                <label for="titulo">Opções</label>
                                <div class="col-md-12">
                                    <div class="options">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="radio" class="with-gap" id="ig_radio" disabled="disabled"/>
                                                <label for="ig_radio"></label>
                                            </span>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" name="opcao[0]"
                                                           placeholder="Digite a opção"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" name="peso[0]"
                                                           placeholder="Digite o peso" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="radio" class="with-gap" id="ig_radio2" disabled="disabled"/>
                                                <label for="ig_radio2"></label>
                                            </span>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" name="opcao[1]"
                                                           placeholder="Digite a opção"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" name="peso[1]"
                                                           placeholder="Digite o peso" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a id="addOption"><span>Adicionar Opção</span></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancelar</button>
                        <button type="button" id="btn-salvar-pergunta" class="btn btn-link waves-effect">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal Nova Pergunta-->
    </div>
</th:block>

</body>

</html>