<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <title>Cadastrar | Avaliação Clínica</title>
    <!-- Favicon-->
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.googleapis.com/css(family='Roboto:400,700',subset='latin,cyrillic-ext')}"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap Core Css -->
    <link th:href="@{/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet"/>

    <!-- Waves Effect Css -->
    <link th:href="@{/plugins/node-waves/waves.css}" rel="stylesheet"/>

    <!-- Animation Css -->
    <link th:href="@{/plugins/animate-css/animate.css}" rel="stylesheet"/>

    <!-- Custom Css -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body class="signup-page">
<div class="signup-box">
    <div class="logo">
        <a href="javascript:void(0);">Avaliação Clínica</a>
    </div>
    <div class="card">
        <div class="body">
            <form id="sign_up" th:action="@{/usuarios}" method="POST">
                <div class="msg">Cadastro de Usuário</div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="nome" placeholder="Nome Completo" required="required" autofocus="autofocus" />
                    </div>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="login" placeholder="Usuário" required="required" />
                    </div>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="senha" minlength="6" placeholder="Senha" required="required" />
                    </div>
                </div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="confirma" minlength="6" placeholder="Confirmar Senha" required="required" />
                    </div>
                </div>
                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">CADASTRAR</button>

                <div class="m-t-25 m-b--5 align-center">
                    <a th:href="@{/login}">Já está cadastrado?</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Jquery Core Js -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core Js -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>

<!-- Waves Effect Plugin Js -->
<script th:src="@{/plugins/node-waves/waves.js}"></script>

<!-- Validation Plugin Js -->
<script th:src="@{/plugins/jquery-validation/jquery.validate.js}"></script>

<!-- Custom Js -->
<script th:src="@{/js/admin.js}"></script>
<script th:src="@{/js/novoUsuario.js}"></script>
</body>

</html>