<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<body>

<th:block layout:fragment="content">
    <div class="block-header">
        <h2>QUESTIONÁRIOS</h2>
    </div>

    <!-- Questionarios -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        QUESTIONÁRIOS
                    </h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>TÍTULO</th>
                            <th>AVALIAÇÕES</th>
                            <th>AÇÃO</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="questionario : ${listaQuestionario}">
                            <td th:text="${questionario.id}">1</td>
                            <td th:text="${questionario.titulo}">1</td>
                            <td th:text="${questionario.countAvaliacoes}">1</td>
                            <td>
                                <a th:href="@{/questionarios/perguntas(questionarioId=${questionario.id})}">
                                    <i class="material-icons" title="Editar">edit</i>
                                </a>
                                <a th:href="@{/questionarios/{id}(id=${questionario.id})}" data-method="DELETE" data-origin="questionarios" data-confirm="Tem certeza que deseja excluir?">
                                    <i class="material-icons" title="Excluir">delete</i>
                                </a>
                                <a th:href="@{/questionarios/controleAcesso(questionarioId=${questionario.id})}">
                                    <i class="material-icons" title="Controle de Acesso">security</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="questionarios/perguntas">
                        <button type="button" class="btn btn-primary m-t-15 waves-effect">Novo Questionário</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Questionarios -->
</th:block>
</body>

</html>