<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<body>

<th:block layout:fragment="content">
    <div class="block-header">
        <h2>RELATÓRIO EXPORTAÇÃO</h2>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Relatório Exportação</h2>
                </div>
                <div class="body">
                    <form id="form-exportar" th:action="@{/relatorios/exportar}" method="GET">
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line focused success">
                                        <label for="select-questionario">Questionário</label>
                                        <select class="form-control show-tick" id="select-questionario" name="questionarioId" required="required">
                                            <option value="">-- Selecione --</option>
                                            <option th:each="questionario : ${questionarios}" th:value="${questionario.id}" th:text="${questionario.titulo}"/>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line focused success">
                                        <label for="select-avaliado">Avaliado</label>
                                        <select class="form-control show-tick" id="select-avaliado" name="avaliadoId">
                                            <option value="0">-- Selecione --</option>
                                            <!--<option class="opt-avaliado" th:each="avaliacao : ${avaliacoes}" th:value="${avaliacao.idAvaliacao}" th:text="${avaliacao.nomeAvaliado}"/>-->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="btn-exportar" th:href="@{/relatorios/exportar}" class="btn btn-primary m-t-15 waves-effect">Exportar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</th:block>

</body>

</html>