<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<body>

<th:block layout:fragment="content">
    <div class="block-header">
        <h2>USUÁRIOS</h2>
    </div>

    <!-- USUÁRIOS -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        USUÁRIOS
                    </h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOME</th>
                                <th>LOGIN</th>
                                <th>AÇÃO</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="usuario : ${vo}">
                                    <td th:text="${usuario.id}">1</td>
                                    <td th:text="${usuario.nome}">1</td>
                                    <td th:text="${usuario.login}">1</td>
                                    <td>
                                        <a th:href="@{/usuarios/editar(usuarioId=${usuario.id})}">
                                            <i class="material-icons" title="Editar">edit</i>
                                        </a>
                                        <a th:href="@{/usuarios/{id}(id=${usuario.id})}" data-method="DELETE" data-origin="usuarios" data-confirm="Tem certeza que deseja excluir?">
                                            <i class="material-icons" title="Excluir">delete</i>
                                        </a>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# USUÁRIOS -->
</th:block>
</body>

</html>